@import '../../app/layout/_variables.scss';

.masthead {
    background: radial-gradient(ellipse at center, $main_color_home_page 10%, $secondary_color_home_page 100%) !important;
}

.masthead.segment {
    min-height: 700px;
    min-height: 100vh;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    letter-spacing: 12px;
    margin-top: 30vh;
    margin-bottom: 0em;
    font-size: 5em;
    font-weight: normal;
    color: white !important;
}

.masthead h2 {
    font-size: 1.9em;
    font-weight: normal;
    color: white !important;
}