@import '_variables.scss';

body {
    background-color: #efefee;
}

.cur_p {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@for $i from 1 through 100 {
    .m#{$i} {
        margin: #{$i}px;
    }

    .mt#{$i} {
        margin-top: #{$i}px;
    }

    .mr#{$i} {
        margin-right: #{$i}px;
    }

    .mb#{$i} {
        margin-bottom: #{$i}px;
    }

    .ml#{$i} {
        margin-left: #{$i}px;
    }
}

/* Navbar styles */
.ui.fixed.menu {
    height: $navbarHeight;
    background-color: rgba(1, 1, 1, 0.5) !important;

    .container {
        .item {
            color: white;
        }
    }
}

.main.container,
.main.segment {
    margin-top: $navbarHeight + 25px;
}

/* Recipes */
.recipe-header {
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}