@import '_variables.scss';

body {
    background-color: #efefee;
}

.cur_p {
    cursor: pointer;
}

/* Navbar styles */
.ui.fixed.menu {
    height: $navbarHeight;
    background-color: rgba(1, 1, 1, 0.5) !important;

    .container {
        .item {
            color: white;
        }
    }
}

.main.container,
.main.segment {
    margin-top: $navbarHeight + 25px;
}

/* Recipes */
.recipe-header {
    margin-top: 10px;
    margin-bottom: 5px;

}